﻿@section Scripts{
    <script src="~/Scripts/Skripta.js"></script>
    @Styles.Render("~/Content/Site.css")s
}

<div id="start">
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            <div class="form-group row">
                <button class="btn btn-outline-warning col-4" id="btnReg">Registracija</button>
                <div class="col-4"></div>
                <button class="btn btn-outline-primary col-4" id="btnPrijava">Prijava</button>

            </div>
        </div>
    </div>
</div>

<div id="regDiv" style="display:none">
    <div class="row m-4 justify-content-md-center">

        <div class="col-lg-5 text-white">

            <div class=" form-group row">
                <div class="col-lg-12"><h2 class="text-center m-4">Registracija korisnika</h2></div>

            </div>

            <!--pocetak forme...-->
            <form method="post" action="action/" id="registracija">
                <div class="form-group row">
                    <label class="col-4">Korisnicko ime:</label>
                    <input type="text" class="form-control col-8" id="regEmail" />
                </div><div class="form-group row">
                    <label class="col-4">Lozinka: </label>
                    <input type="password" class="form-control col-8" id="Loz1" />
                </div>
                <div class="form-group row">
                    <label class="col-4">Potvrda lozinke: </label>
                    <input type="password" class="form-control col-8" id="Loz2" />
                </div>

                <!--[prijava]  [Registracija]-->
                <div class="form-group row">
                    <div class="col-1"></div>
                    <button class="btn btn-outline-warning col-4" id="btnOdustajanje">Odustajanje</button>
                    <div class="col-2"></div>
                    <button class="btn btn-info col-4" type="submit">Registracija</button>

                </div>
            </form>

            <div id="infoReg" style="display:none" class="text-center">
                <p class="text-center">Uspesna registracija na sistem.</p>
                <button class="btn btn-info" id="btnPrijava2">Prijava na sistem</button>
            </div>
        </div>

    </div>
</div>

<div  id="prijavaDiv" style="display:none">
<div class="row m-4 justify-content-md-center">

    <div class="col-lg-5 text-white">
        <!--Ovaj pocetak samo ako imemo iznad forme : reg i prijava pa [pocetak]-->
        <div class=" form-group row">
            <div class="col-lg-12"><h2 class="text-center m-4">Prijava korisnika</h2></div>

        </div>

        <form method="post" action="action/" id="prijava">
            <!--pocetak forme...-->
            <div class="form-group row">
                <label class="col-4">Korisnicko ime:</label>
                <input type="text" class="form-control col-8" id="priEmail" />
            </div><div class="form-group row">
                <label class="col-4">Lozinka: </label>
                <input type="password" class="form-control col-8" id="priLoz" />
            </div>

            <!--[prijava]  [Registracija]-->
            <div class="form-group row m-4">
                <div class="col-1"></div>
                <button class="btn btn-outline-warning col-4" id="btnOdustajanje2">Odustanjanje</button>
                <div class="col-2"></div>
                <button class="btn btn-info col-4" type="submit">Prijava</button>

            </div>
        </form>
    </div>
    </div>
</div>

<div id="prijavljen" style="display:none">
    <div class="row m-4  text-white">
        <div class="col-sm-10">
            <p id="info"></p>
        </div>
        <div class="col-sm-2">
            <button id="odjava" class="btn btn-outline-danger">Odjava</button>
        </div>
    </div>
</div>

<div id="pretraga" style="display:none">
    <div class="row text-white m-4">
        <div class="col-sm-5 m-4">
            <h3 class="text-center m-4">Pretraga po kapacitetu</h3>
            <form method="post" action="action" id="formPretraga">
                <div class="form-group row">
                    <label class="col-4">Najmanje soba:</label>
                    <input type="number" class="form-control col-8" id="min" />
                </div><div class="form-group row">
                    <label class="col-4">Najvise soba: </label>
                    <input type="number" class="form-control col-8" id="max" />
                </div>
                <div class="form-group text-center m-4">
                    <button type="submit" class="btn btn-info">Pretraga</button>
                </div>
            </form>
        </div>
        <div class="col-sm-5 text-center m-4" id="ucitavanjeDiv">
            <h3 class="m-4">Hotelski lanci sa najduzom tradicijom</h3>
            <button class="btn btn-info" id="ucitavanje">Ucitavanje</button>

        </div>
        <div class="col-sm-4 text-center m-4" id="lanciSaTradicijom">
            <ul id="lanciTradicija"></ul>
        </div>
    </div>
</div>



<div class="container-fluid">
<div class="row justify-content-sm-center bg-dark m-4 text-white" id="dataHoteli">

</div>
    </div>

<div id="hotel" style="display:none">
    <div class="row justify-content-sm-center m-4">

        <div class="col-lg-6">

            <div class=" form-group row">
                <div class="col-lg-10"><h3 class="text-center m-4">Dodavanje novog Hotela</h3></div>

            </div>
            <form id="hotelForm" action="action/" method="post">
                <!--pocetak forme...-->
                <div class="form-group row">
                    <label class="col-4">Lanac</label>
                    <select id="lanci" class="form-control col-8"></select>
                </div><div class="form-group row">
                    <label class="col-4">Naziv: </label>
                    <input type="text" class="form-control col-8" id="naziv" />
                </div>
                <div class="form-group row">
                    <label class="col-4">Godina osnivanja: </label>
                    <input type="number" class="form-control col-8" id="god" />
                </div>
                <div class="form-group row">
                    <label class="col-4">Broj soba: </label>
                    <input type="number" class="form-control col-8" id="brojSoba" />
                </div>
                <div class="form-group row">
                    <label class="col-4">Broj zaposlenih: </label>
                    <input type="text" class="form-control col-8" id="brojZap" />
                </div>


                <div class="form-group row">
                    <div class="col-1"></div>
                    <button class="btn btn-outline-warning col-4" id="odustajanjeHotel">Odustajanje</button>
                    <div class="col-2"></div>
                    <button class="btn btn-primary col-4" type="submit">Dodavanje</button>

                </div>
            </form>
        </div>

    </div>
</div>

