﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(33,106,173);
    background: linear-gradient(135deg, rgba(33,106,173,1) 10%, rgba(124,174,209,0.7343312324929971) 82%);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.myBack{
    background: rgb(33,106,173);
    background: linear-gradient(135deg, rgba(33,106,173,1) 10%, rgba(124,174,209,0.7343312324929971) 82%);
}
